
html,
body{
    height: 100%;
    margin: 0;
    font-style: 16px;
    font-family: "lato", Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: rgb(32, 31, 28);
    line-height: 1.8em;
    
}
.pimg1{
    min-height: 100%;
    background-image: url(health1.png);
}
.pimg2{
    min-height: 400px;
    background-image: url(health.jpeg);
}
.pimg3{
    min-height: 400px;
    background-image: url(main.jpeg);
}
.pimg1 ,
.pimg2 ,
.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: black;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textBg{
    background: black;
    color: wheat;
    padding: 20px;
}
section {
    padding: 50px 80px;
    text-align: center;
}
.section section-light{
    background: rgb(254, 220, 220);
    color: rgb(249, 170, 43);
}
.section-dark{
    background: black;
    color: white;

}